h1 {
font-size: 40px;
text-align: center;
margin: 10px 0;
font-family: 'Dancing Script', serif;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}